<p>
    Volume ( {{ vol.toFixed(2) }} %) :<br />
    <img src="assets/volume-down.png" alt="volume-up" (click)="volumeDown()" />
    <img src="assets/volume-up.png" alt="volume-down" (click)="volumeUp()" />
    <br />
    <mat-slider min="0" max="100" step="0.1" showTickMarks discrete [displayWith]="formatLabel">
        <input matSliderThumb [value]="vol" (valueChange)="volumeSet($event)" >
    </mat-slider>
</p>
<p>
    Clipboard: <br />
    <img src="assets/copy.png" alt="copy" (click)="pbCopy()" />
    <img src="assets/paste.png" alt="copy" (click)="pbPaste()" />
</p>
<p>
    Display: <br />
    <img src="assets/display.png" alt="copy" (click)="sleepDisplay()" />
</p>
<div class="messages">@for(message of messages; track message) { <p>{{ message }}</p> }</div>
<router-outlet />
